@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background: #090c1d;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background);
}

h1 {
  font-size: 86px;
  line-height: 71.66px;
}

h2 {
  font-size: 71.66px;
  line-height: 59.72px;
}

h3 {
  font-size: 59.72px;
  line-height: 49.77px;
}

h4 {
  font-size: 49.77px;
  line-height: 46px;
}

h5 {
  font-size: 41.47px;
  line-height: 38px;
}

h6 {
  font-size: 34.56px;
  line-height: 32px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fe0b78;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fe0b78;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  display: none;
}

.inputDate > div > input {
  background-color: transparent;
  border: 2px solid #f0f0f0;
  color: #f0f0f0;
}

.inputDate > div > input::placeholder {
  color: #f0f0f0;
}

.inputDate > div > button {
  color: #f0f0f0;
}
